* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: rgb(31, 22, 22);
  border: 1px solid black;
  width: 100%;
  height: 50px;
  /* display: flex; */
  /* align-items: center; */
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  /* border: 1px solid black; */
  width: 7.5%;
  text-align: center;
  align-items: center;
}

.navbar a {
  color: white;
}

/********************************/

.header {
  height: 550px;
  width: 100%;
  background-image: url("https://www.apple.com/tr/home/built_includes/heroes/apple-watch-series-9/images/hero_apple_watch_series_9_order__d0fi9mb84dci_large.jpg");
  border: 1px solid black;
  /* background-size: cover; */
  background-position: 50% 90%;
}

.header-text {
  margin-top: 10px;
  height: 200px;
  width: 100%;
}

/*************************************/

.header2 {
  height: 550px;
  width: 100%;
  background-image: url("https://www.apple.com/v/home/be/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_large.jpg");
  border: 1px solid black;
  /* background-size: cover; */
  background-position: 50% 100%;
}

.header2-text {
  margin-top: 20px;
  height: 200px;
  width: 100%;
}

/*****************************************/

.header3 {
  height: 550px;
  width: 100%;
  background-image: url("https://www.apple.com/v/home/be/images/heroes/iphone-15-pro/hero_iphone15pro_announce__c1coc7n3a0uq_large.jpg");
  border: 1px solid black;
  /* background-size: cover; */
  background-position: 50% 100%;
}

.header3-text {
  margin-top: 20px;
  height: 200px;
  width: 100%;
}

/*****************************/

.header-last {
  display: flex;
  justify-content: center;
}

.header-last a {
  margin: 0 0 20px 20px;
}

.header-last a:hover {
  text-decoration: underline;
}
/******************************/
